body {
}

.home
{
    font-size: 20px;
    background: #6ea339;
    color: white;
}

.home h1 {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    margin-top: 30vh;
}

.home a {
    display: flex;
    justify-content: center;
    margin: auto;
    color: white
}

h1 {
    font-family: 'Amatic SC', cursive;
    display: flex;
    justify-content: center;
    padding: 30px;
}

h3 {
    font-family: 'Amatic SC', cursive;
}

label#header {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
}

form#messageForm {
    display: table-row;
    width: 20%;
}

.col-6 {
    width: 50%;
    margin-left: 50px;
}

form#login, form#signup {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}